@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#header {
  background-image: url("../../images/pattern-bg.png");
  background-position: center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  .innerHeader {
    height: 275px;
    position: relative;
  }
  .form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
  }
  .title {
    text-align: center;
    padding-top: 32px;
    color: white;
    font-size: 12px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 10px;
    z-index: 1;
  }
  .infoCol {
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    width: 100%;
  }
  p {
    color: rgb(104, 104, 104);
  }
  h2 {
    animation: display 0.5s;
  }
  @keyframes display {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  input {
    width: 100%;
    border-radius: 10px;
    padding: 15px 8px;
    border: 0;
    outline: none;
    font-size: 18px;
    transition: color 0.5s;
    &:focus {
      color: gray;
    }
  }
  .loading {
    margin-top: 10px;
  }
  .searchBtn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;
    transition: background-color 0.5s;
    cursor: pointer;
    &:hover {
      background-color: gray;
    }
  }
  i {
    color: white;
    font-size: 24px;
    padding: 0 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #header {
    .infoCol {
      width: 50%;
      padding: 18px 0;
    }
    .form {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  #header {
    .infoCol {
      width: 25%;
      padding: 28px;
    }
  }
}
