*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 24px;
  padding-left: 24px;
}
.leaflet-control-container {
  display: none;
}

.loading__anim {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
.loading {
  max-width: 50%;
  border: rgba(3, 155, 229, 1);
  background-color: white;
}
